/* roboto-slab-regular - cyrillic_latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-slab-v9-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
        url('./fonts/roboto-slab-v9-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/roboto-slab-v9-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/roboto-slab-v9-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
        url('./fonts/roboto-slab-v9-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/roboto-slab-v9-cyrillic_latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 20px;
}

main {
    max-width: 1350px;
    min-height: calc(100vh - 40px);
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: space-around;
}

.item {
    flex: 1 1 auto;
    width: 400px;
    max-width: 700px;
    margin: 25px;
    padding: 0px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 4px 8px rgb(153, 153, 153);
    background-image: url('./img/background.png');
    background-position: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(33, 36, 36);
    font-family: 'Roboto Slab', serif;
}

.item__inner {
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    border:	#ffb71b8e 15px solid;
    z-index: 3;
    margin-top: 10px;
    margin-left: 10px;
}

.item__link {
    margin: 0 30px;
    padding: 15px 25px 15px 15px;
    border-bottom: 2px #4699c0 solid;
}

.item__description {
    padding: 20px 30px 20px 20px;
}