/* roboto-slab-regular - cyrillic_latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-slab-v9-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
        url('./fonts/roboto-slab-v9-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/roboto-slab-v9-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/roboto-slab-v9-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
        url('./fonts/roboto-slab-v9-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/roboto-slab-v9-cyrillic_latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 20px;
}

::selection {
    background: #4699c0;
    color: white;
}

/* Градиент */

#granim-canvas {
    position: absolute;
    width: 100%;
    max-width: calc((100vw - 1350px) / 2 + 700px);
    height: 300px;
    z-index: -1;
    background-size: cover;
    top: -200px;
    left: 0;
}

/* Вся верхняя часть */

.top-block {
    display: flex;
    flex-direction: row;
}

/* Шапка в виде градиента и заголовка */

.header-wrapper {
    width: 100%;
}

.header {
    border-top: 2px solid transparent;
    margin: 30px 0 20px;
    transition: all 1s ease;
    user-select: none;
    max-width: calc((100vw - 1350px) / 2 + 670px);

    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-align: center;
}

.header__text {
    margin: 35px 15px 30px;
    float: right;
    width: 250px;

    font-weight: bold;
    text-align: right;
    color: black;
}

@media (max-width: 500px) {
    #granim-canvas {
        max-width: calc((100vw - 1350px) / 2 + 710px);
    }

    .header {
        max-width: calc((100vw - 1350px) / 2 + 700px);
    }
}

/* Заметки от меня */

.description {
    font-family: 'Lora', serif;
}

/* Основная часть */

#block-wrapper {
    column-width: 400px;
    column-gap: 25px;
    max-width: 1350px;
    margin: 30px auto;
}

/* Карточка */

.item {
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
    page-break-inside: avoid;
    margin: 0 auto 50px;
    padding: 0px;
    background-color: white;
    box-shadow: 0 0 10px rgba(153, 153, 153, 0.479);

    color: rgb(33, 36, 36);
    text-align: center;

    position: relative;
    z-index: 3;
}

.item__design-element {
    position: absolute;
    width: 90%;
    height: 50%;
    background: #dddd8f;
    z-index: 2;
}

.item__link {
    margin: 0 30px;
    padding: 0px;
    
    position: relative;
    top: -20px;
    left: 0;
    z-index: 3;

    text-align: left;
    color: white;
}

.item__link:hover {
    cursor: pointer;
    transition: all ease-in .2s;
}

.item__link-a, .item__description-a {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 28px;
    color: white;

    padding: 3px;
}

.item__link-a {
    background: #30708d;
}

.item__description-a {
    background: #74b382;
}

.item__link-a:hover, .item__description-a:hover {
    cursor: pointer;
    background: white;
    color: #30708d;
}



.item__description {
    border-top: 2px #4699c0 solid;
    padding: 15px 0 15px 10%;
    width: 80%;

    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: right;

    position: relative;
    z-index: 3;
}