/* Основная часть */

#block-wrapper {
  max-width: 2000px;
  margin: 30px auto;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

/* Карточка */

.item {
  flex-grow: 1;

  min-width: 400px;
  width: 40%;
  margin: 30px 15px;
  padding: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(153, 153, 153, 0.479);
  box-sizing: border-box;
  color: rgb(33, 36, 36);

  position: relative;
  z-index: 3;

  &__header {
    position: relative;
    top: -15px;
    left: 0;
    z-index: 3;

    display: flex;
  }

  &__link-wrapper, &__index {
    background: #30708d;
    color: white;
  }

  &__link {
      &-wrapper{
      margin: 0 20px;
      padding: 10px;
      word-break: break-all;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      
      &:hover {
        cursor: pointer;
        transition: 0.3s;
        background: #4099a9;
      }
    }
  }

  &__index {
    margin-left: 20px;
    padding: 10px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link, &__code-link {
    color: white;
  }

  &__code-link {
    word-break: break-all;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;

    &-wrapper {
      padding: 10px;
      background: #74b382;
      width: max-content;

      &:hover {
        cursor: pointer;
        transition: 0.3s;
        background: #4099a9;
      }
    }
  }

  &__code {
    margin-top: 25px;
  }

  &__design-element {
    background: #eaf4c7;
    z-index: 2;
  }

  &__description {
    border-top: 2px #4699c0 solid;
    padding: 20px;
    width: calc(100% - 40px);
    font-family: 'Lora', serif;
    font-size: 16px;

    position: relative;
    z-index: 3;
  }

  .block {
    margin-bottom: 15px;

    &__label {
      margin: 15px 6px 15px 0;
    }
  
    &__value {
      margin: 15px 0;
    }
  }
}